<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
</head>
<body>
    <div>
        <h1>Password Generator</h1>
        <form action="{% url 'generate' %}" method="get">
            <label>Length:
                <input type="number" name="length" min="6" max="50" value="12">
            </label><br>
            <label>
                <input type="checkbox" name="uppercase"> Uppercase
            </label><br>
            <label>
                <input type="checkbox" name="special"> Special Characters
            </label><br>
            <label>
                <input type="checkbox" name="numbers"> Numbers
            </label><br>
            <input type="submit" value="Generate Password">
        </form>
    </div>
</body>
</html>